.navbar-custom {
    background-color: #3e0404;
}
.nav-link-custom {
    color: #ffffff;
    font-weight: bold;
}
.nav-link-custom:hover {
    color: #ffc107;
}
.nav-link-post {
    background-color: #dc353557;
    color: wheat;
    padding: 8px 16px;
    border-radius: 14px;
    font-weight: bold;
}
.nav-link-post:hover {
    color: white;
}