<div class="login-container">
    <img src="icon.png" alt="Icon" class="icon">
    <div *ngIf="currentStep === 1">
      <h2>Sign In</h2>
      <p>to continue to Rentify</p>
      <input type="text" [(ngModel)]="emailOrPhone" placeholder="Email or Phone" class="input-field">
      <div class="buttons">
        <button (click)="goToNext()">Next</button>
        <button (click)="currentStep = 2">Create account</button>
      </div>
    </div>
    <div *ngIf="currentStep === 2">
      <h2>Create a Rentify Account</h2>
      <div class="name-fields">
        <input type="text" [(ngModel)]="firstName" placeholder="First Name" class="input-field">
        <input type="text" [(ngModel)]="lastName" placeholder="Last Name" class="input-field">
      </div>
      <button (click)="createAccount()">Next</button>
    </div>
  </div>
  