<div *ngIf="isLoading" class="loader">
  <app-loader></app-loader>
</div>

<div *ngIf="!isLoading && property" class="property-container">
  <h1>{{ property.title }}</h1>
  <div class="gallery">
    <div class="thumbnail" *ngFor="let url of imageUrls" (click)="openFullScreenImage(url)">
      <img [src]="url" alt="Property Image">
    </div>
  </div>
  <p>{{ property.description }}</p>
  <div class="property-details">
    <p><strong>Rental Amount:</strong> {{  property?.data?.amount | currency:'INR' }}</p>
    <p><strong>Advance Rental Amount:</strong> {{ property?.data?.advanceAmount | currency:'INR'}}</p>
    <p><strong>Tenant Preference:</strong> {{ property?.data?.tenantPreference }}</p>
    <p><strong>Date of Availability:</strong> {{ property?.data?.dateAvailable | date:'dd/MM/yyyy' }}</p>
    <p><strong>Agreement Renewal Period:</strong> {{ property?.data?.agreementRenewalPeriod }} years</p>
    <p><strong>EB Bill Debited from Rental Amount:</strong> {{ property?.data?.isEBBillDebited ? 'Yes' : 'No' }}</p>
    <p><strong>Parking Area Available:</strong> {{ property?.data?.parkingAreaAvailable ? 'Yes' : 'No' }}</p>
    <p><strong>Balcony Available:</strong> {{ property?.data?.balconyAvailable ? 'Yes' : 'No' }}</p>
    <p><strong>Rent Agreement Available:</strong> {{ property?.data?.isRentAgreementAvailable ? 'Yes' : 'No' }}</p>
    <p><strong>CCTV Available:</strong> {{ property?.data?.isCCTVAvailable ? 'Yes' : 'No' }}</p>
    <p><strong>Water Tax Debited from Rental Amount:</strong> {{ property?.data?.isWaterTaxIncluded ? 'Yes' : 'No' }}</p>
    <p><strong>Pet Friendly:</strong> {{ property?.data?.petFriendly ? 'Yes' : 'No' }}</p>
  </div>
  <div class="property-stats">
    <span>Likes: {{ property.likes }}</span>
    <button (click)="likeProperty()">Like</button>
    <span>Views: {{ property.views }}</span>
  </div>
  <button mat-raised-button color="primary" (click)="openInterestModal()">I am Interested</button>
</div>
