<div class="search-section">
    <div class="overlay">
      <div class="container">
        <h1>Find Your Rental Home</h1>
        <div class="search-bar">
          <input type="text" placeholder="Search for a house..." [(ngModel)]="filters.title" (ngModelChange)="onFilterChange()" />
          <button (click)="loadProperties(1)">Search</button>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="isLoading" class="loader">
    <app-loader></app-loader>
  </div>
  
  <div *ngIf="!isLoading" class="main-content">
    <div class="filters">
      <h3>Filters</h3>
      <div class="filter-item">
        <label for="numBedrooms">Number of Bedrooms:</label>
        <select id="numBedrooms" [(ngModel)]="filters.numBedrooms" (ngModelChange)="onFilterChange()">
          <option *ngFor="let bedroom of bedrooms" [value]="bedroom">{{ bedroom }}</option>
        </select>
      </div>
      <div class="filter-item">
        <label for="numBathrooms">Number of Bathrooms:</label>
        <select id="numBathrooms" [(ngModel)]="filters.numBathrooms" (ngModelChange)="onFilterChange()">
          <option *ngFor="let bathroom of bathrooms" [value]="bathroom">{{ bathroom }}</option>
        </select>
      </div>
      <div class="filter-item">
        <label for="hospitalsNearby">Hospitals Nearby:</label>
        <select id="hospitalsNearby" [(ngModel)]="filters.hospitalsNearby" (ngModelChange)="onFilterChange()">
          <option [value]="true">Yes</option>
          <option [value]="false">No</option>
        </select>
      </div>
      <div class="filter-item">
        <label for="collegesNearby">Colleges Nearby:</label>
        <select id="collegesNearby" [(ngModel)]="filters.collegesNearby" (ngModelChange)="onFilterChange()">
          <option [value]="true">Yes</option>
          <option [value]="false">No</option>
        </select>
      </div>
      <div class="filter-item">
        <label for="petFriendly">Pet Friendly:</label>
        <select id="petFriendly" [(ngModel)]="filters.petFriendly" (ngModelChange)="onFilterChange()">
          <option [value]="true">Yes</option>
          <option [value]="false">No</option>
        </select>
      </div>
      <div class="filter-item">
        <label for="balconyAvailable">Balcony Available:</label>
        <select id="balconyAvailable" [(ngModel)]="filters.balconyAvailable" (ngModelChange)="onFilterChange()">
          <option [value]="true">Yes</option>
          <option [value]="false">No</option>
        </select>
      </div>
      <div class="filter-item">
        <label for="parkingAreaAvailable">Parking Area Available:</label>
        <select id="parkingAreaAvailable" [(ngModel)]="filters.parkingAreaAvailable" (ngModelChange)="onFilterChange()">
          <option [value]="true">Yes</option>
          <option [value]="false">No</option>
        </select>
      </div>
      <div class="filter-item">
        <label for="isCCTVAvailable">CCTV Available:</label>
        <select id="isCCTVAvailable" [(ngModel)]="filters.isCCTVAvailable" (ngModelChange)="onFilterChange()">
          <option [value]="true">Yes</option>
          <option [value]="false">No</option>
        </select>
      </div>
      <button (click)="clearFilters()">Clear Filters</button>
    </div>
    <div class="property-list">
      <div class="card" *ngFor="let property of paginatedProperties">
        <a [routerLink]="['/property', property.id]">
          <img [src]="property.imageUrl1" alt="{{ property.title }}" class="property-image" />
          <h2>{{ property.title }}</h2>
          <p class="rental-amount">{{ property.amount }}</p>
          <p class="description">{{ property.description }}</p>
        </a>
      </div>
      <div class="pagination">
        <button (click)="prevPage()">
          <i class="fas fa-chevron-left"></i>
        </button>
        <span>Page {{currentPage}} of {{totalPages}}</span>
        <button (click)="nextPage()">
          <i class="fas fa-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
  